@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-outfit);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);
}

:root {
  --background: #121212;
  /* Surface A0 */
  --foreground: #ffffff;
  /* Light A0 */

  --primary: #f09e4d;
  /* Primary A0 */
  --primary-foreground: #000000;
  /* Dark A0 */

  --secondary: #27272a;
  /* Neutral Dark Grey */
  --secondary-foreground: #ffffff;

  --muted: #27272a;
  /* Neutral Dark Grey */
  --muted-foreground: #a1a1aa;
  /* Neutral Light Grey */

  --accent: #27272a;
  /* Neutral Dark Grey (Hover) */
  --accent-foreground: #ffffff;

  --card: #18181b;
  /* Zinc 900 - Neutral Dark Card */
  --card-foreground: #ffffff;

  --border: #27272a;
  /* Zinc 800 */
  --ring: #f09e4d;
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Hide Scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}